/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page, .header, .main, .sidebar, .content, .footer
{
	border:2px solid #F00;
	
}

.page
{
    width: 1000px;
    margin: 20px auto 0px auto;
    position:relative;
    height:auto;
    min-height: 800px;
}

.header
{
    float:left;
    width: 100%;
    height:200px;
    position:relative;
    background-image:url('../Images/header.png');
}

.main
{
	position:relative;
	float:left;
    width:100%;
    min-height:500px;
    height:auto;
}

.siderbar
{
	float:left;
	width:200px;
	min-height:500px;
	margin:5px 5px;
	height: inherit;
	position:relative;
}

.content
{
	float:left;
	width:750px;
	height:inherit;
	margin:10px 10px;
	min-height:500px;
	position:relative;
}

.contentuc
{
    height: inherit;
    width: 691px;
}



.footer
{	
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    height:100px;
    width:100%;
    float:left;
    position:relative;
    background-image:url('../Images/footer.png');
}


/* NAV BAR MENU
----------------------------------------------------------*/

.navbar
{
	position:absolute;
	left:20px;
	top:140px;
	width:auto;
	height:auto;
}

.navbarmenu
{
	padding: 4px 0px 4px 8px;
}


.navbarmenu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

.navbarmenu ul li a, .navbarmenu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

.navbarmenu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

.navbarmenu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}


/* LOGIN BAR   
----------------------------------------------------------*/
.loginbar
{
	position:absolute;
	left:546px;
	top:36px;
	border:1px solid #F00;
	min-height:100px;
	min-width:200px;
    width: 427px;
    height: 66px;
}

/* INFO BAR   
----------------------------------------------------------*/
.info
{
	position:absolute;
	left:300px;
	top:20px;
}

/* SIDEBAR MENU  
----------------------------------------------------------*/

.sidebarmenu
{
	border:2px solid #FF0;
	min-width:320;
	min-height:500px;
}

/* LOGO 
----------------------------------------------------------*/

.logo
{
	border:2px solid #F00;
	height:150px;
	width:550px;
	margin-left:10px;
	margin-top:10px;
	position:absolute;
}


/* SIDE BAR MENU
----------------------------------------------------------*/

.sidebar1
{
	
}

.sidebarmenu
{
	padding: 0px 0px 0px 0px;
}

.sidebarmenu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

.sidebarmenu ul li a, .sidebarmenu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

.sidebarmenu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

.sidebarmenu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}