#QuanLiTaiKhoan_MainContent
{
    width: 100%;
    height: 100%;
    min-height: 100%;
}

#QuanLiTaiKhoan_DanhSachTaiKhoanDiv
{
    font-family: Arial;
    color: White;
    text-align: left;
    vertical-align: middle;
    background-color: Black;
    width: 500px;
    height: auto;
}

#List_DanhSachTaiKhoan
{
    background-color: Black;
    width: 100%;
    height: auto;
    color: White;
    overflow: scroll;
}

#QuanLiTaiKhoan_StatusContent
{
    font-family: Arial;
    color: White;
    vertical-align: middle;
    text-align: left;
    background-color: Black;
    width: 500px;
    height: 25px;
}