<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="vBay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="AvatarFolder" value="~/Avatars/" />
    <add key="HeadPage" value="~/Default.aspx"/>
    <add key="ManagerHeadPage" value="~/ManagerDefault.aspx"/>
    <add key="AdminHeadPage" value="~/AdminDefault.aspx"/>
    <add key="StopPage" value="~/Stop.aspx"/>
    <add key="NumsPerPage" value="4"/>
    <add key="PayPalAPIUsername" value="admin_1308327514_biz_api1.gmail.com"/>
    <add key="PayPalAPIPassword" value="1308327527"/>
    <add key="PayPalAPISignature" value="An5ns1Kso7MWUdW4ErQKJJJ4qi4-AJ0khHDhcIh2AfZ3STWxU8JcslMS"/>
    <add key="PayPalAPI.PayPalSvc" value="https://api.sandbox.paypal.com/2.0/"/>
    <add key="com.paypal.sandbox.www.PayPalSvc" value="https://api.sandbox.paypal.com/2.0/"/>
  </appSettings>
  <connectionStrings>
    <add name="DauGiaConnectionString" connectionString="Data Source=Wiki\SQLEXPRESS;Initial Catalog=DauGia;User ID=vbay;Password=admin"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.0" />

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DauGiaConnectionString"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="DauGiaConnectionString" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="DauGiaConnectionString" applicationName="/" name="AspNetSqlRoleProvider"
          type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
          type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>

    <customErrors mode="On" defaultRedirect="PageNotFound.aspx">
      <error statusCode="404" redirect="PageNotFound.aspx"/>
    </customErrors>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="0812234@gmail.com">
        <network host="smtp.gmail.com" password="iamtheway" port="587"
          userName="0812234" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <applicationSettings>
    <vBay.Properties.Settings>
      <setting name="vBay_com_paypal_sandbox_www_PayPalAPIInterfaceService"
        serializeAs="String">
        <value>https://api.sandbox.paypal.com/2.0/</value>
      </setting>
    </vBay.Properties.Settings>
  </applicationSettings>
</configuration>
