#DangThongTinSanPham_MainDiv
{
    width: 100%;
    height: auto;
    background-color: White;
    color: Black;
    font-family: Arial;
    text-align: left;
    vertical-align: bottom;
}

#DropDownList_DanhSachHinhMinhHoa
{
}