#MainDiv
{
    background-color: White;
    color: Black;
    width: 100%;
    height: auto;
}

#List_DanhSachTaiKhoan
{
    
}

#GridView_LichSuGiaoDich
{
    table-layout: fixed;
    overflow: scroll;
    width: 300px;
    max-width: 300px;
}

#TextBox_TenTaiKhoan
{
    
}